<div class="container align-content-center">
  <div class="container">
    <div class="form-group">
      <label>Usuario que crea el nuevo rpoducto</label>
      <select #inSelectIdCargo name="Sexo[]" class="form-control"  required>
          <option value="0">Seleccione</option>
          <option *ngFor="let usuario of usuarios" value={{usuario.idUsuario}}>{{usuario.usuario}}</option>
      </select>
  </div>
</div>
  <h4>Nuevo producto</h4>
  <span class="label label-success" *ngIf="guardado">Producto guardado</span>
  <span class="label label-danger" *ngIf="!noguardado">Producto no guardado verifique los datos ingresados</span>
</div>
<form name="myForm">
          <div class="container">
              <div class="form-group">
                  <label>Nombre del producto</label>
                  <input #innombre type="text" name="nombre" ng-model="nombre" class="form-control" placeholder="Nombre del producto"  required/>
              </div>
            <div class="form-group">
              <label>Cantidad</label>
              <input #incantidad type="number" name="EdadIn" class="form-control" placeholder="Cantidad" data-validacion-tipo="requerido|max:50"
              />
          </div>

            <div class="form-group">
              <label>Fecha de ingreso</label>
              <input #infechaIn type="date" name="FechaIn" class="form-control" placeholder="Ingrese la fecha de ingreso" data-date-format="DD MMMM YYYY" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" data-validacion-tipo="requerido|max:50"
              required/>
          </div>
          </div>
</form>
<div class="container align-content-center"><button (click)="guardarProducto(innombre,incantidad,infechaIn ,inSelectIdCargo)" class="btn btn-success btn-lg btn-block">Guardar</button></div>
